* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;

  --bgcolor: #eee4e1;
  --clockcolor: #b2967d;
  --handscolor: #333333;
}
.App {
  height: 100vh;
  background: var(--bgcolor);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock {
  width: 10rem;
  height: 10rem;
  background: var(--bgcolor);
  border: 1rem solid var(--clockcolor);
  border-radius: 50%;
  position: relative;
}

.hand {
  position: absolute;
  left: 50%;
  bottom: 50%;
  height: 2rem;
  width: 1rem;
  /* background: var(--handscolor); */
  transform: translateX(-50%);
  transform-origin: bottom;
  border: 0.1rem solid var(--clockcolor);
}
